/* JOB DESCRIPTION CSS STARTS HERE */

#resultsbody {
  background-color: #eeedde;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#descriptionh1 {
  background-color: #98947c;
  color: #eeedde;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 0 0 2px #d9e5d6;
  margin-bottom: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

#go-back a:visited {
    color: black;
}
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9e5d6;
  border-radius: 20px;
  margin-top: 10px;
  width: 400px;
}

.job-headers {
  padding: 0 20px;;
  color: #98947c;
  font-family: "Courier New", Courier, monospace;
}

#job-description, #go-back {
    background-color: white;
    color: black;
    border-style: groove;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#go-back {
  background-color: #98947c;
  color: #eeedde;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 0 0 2px #d9e5d6;
  text-align: center;
  width: 250px;
}

#map {
  border-radius: 5px;
  width: 380px;
  height: 380px;
  margin: 15px;
}

#search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#search-input:focus {
  border-color: #4d90fe;
}
li{
  list-style-type: none;
}

/* #map {
    height: 300px;
    width: 100%;
    margin-top: 70px;
  } */