/* JOB DESCRIPTION CSS STARTS HERE */

#resultsbody {
  background-image: url(money.jpeg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#descriptionh1 {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bolder;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

#go-back a:visited {
    color: black;
}
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#job-container {
  background-color: rgba(0, 0, 0, 0.829);
  border-style: groove;
  margin-top: 1%;
  padding-left: 20px;
  width: 55%;
  position: relative;
}

.job-headers {
  color: white;
  font-family: "Courier New", Courier, monospace;
  display: block;
}

#job-description, #go-back {
    background-color: white;
    color: black;
    border-style: groove;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#go-back {
  margin-bottom: 20px;
  text-align: center;
  width: 98%;
}

#map {
  background-color: rgba(0, 0, 0, 0.829);
  border-style: groove;
  height: 300px;
  margin: 15px;
}

#search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#search-input:focus {
  border-color: #4d90fe;
}

/* #map {
    height: 300px;
    width: 100%;
    margin-top: 70px;
  } */