/* RESULTS PAGE CSS STARTS HERE */
.border {
  padding: 20px;
  margin: 10px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
#results-container {
    background-color: rgba(0, 0, 0, 0.829);
    border-style: groove;
    margin-top: 20px;
    padding-left: 20px;
    max-height: fit-content;
    max-width: 650px;
    position: relative;
    left: 25%;
  }

  #results {
     border-style: groove;
      height:fit-content;
      padding: 10px;
      margin: 20px;
      background-color: white;
      border-radius: 5px;
      max-width: 570px;
  }
  
  /* For testing purposes, won't show up in finished product.
      .container {
      height: 120px;
      width: auto;
      border-style: groove;
      margin: 20px;
      background: whitesmoke;
  } */
  