/* RESULTS PAGE CSS STARTS HERE */
#resultsbody {
  background-image: url(money.jpeg);
  background-size: 100%;
}

#resultsheader {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.829);
  border-style: groove;
  width: 50%;
  margin: auto;
}

#resultsh1 {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bolder;
}

.border {
  padding: 20px;
  margin: 10px;
}

.border:hover {
  background-color: lightgray;
  transition: 2s;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
#results-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.829);
  border-style: groove;
  margin: 15px auto;
  padding: 20px;
  height: fit-content;
  width: 75%;
  position: relative;
  }

  #results {
  display: flex;
  flex-wrap: wrap;
  border-style: groove;
  padding: 2%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
    /* width: 1000px; */
  }
  
  /* For testing purposes, won't show up in finished product.
      .container {
      height: 120px;
      width: auto;
      border-style: groove;
      margin: 20px;
      background: whitesmoke;
  } */
  