* {
  box-sizing: border-box;
}

/* LANDING PAGE CSS STARTS HERE */
#indexbody {
  background-image: url(money.jpeg);
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#indexsection {
  flex: 0 1 auto;
  background-color: rgba(0, 0, 0, 0.829);
  width: 35%;
  height: fit-content;
  margin-top: 7%;
  color: white;
  border-style: groove;
  padding: 3% 0%;
}

#indexflexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homepage-header {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.landingpageflex {
  width: 50%;
  margin: 5px;
}

#search-button {
  background-color: rgb(0, 132, 255);
  color: white;
  width: 50%;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
}