/* LANDING PAGE CSS STARTS HERE */
body {
    background-image: url(money.jpeg);
    background-size: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.829);
    height: 75px;
    border-style: groove;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    height: 350px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    align-content: center;
    border-style: groove;
 }
 
#homepage-header {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

section p {
     text-align: center;
 }

#location-input {
    width: 50%;
    margin-top: -10px;
}

#Industry {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

#level {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    margin-bottom: 16px;
}

#search-button {
    background-color: rgb(0, 132, 255);
    color: white;
    width: 50%;
    height: 40px;
    margin-top: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
}

/* RESULTS PAGE CSS STARTS HERE */
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#results {
    background-color: rgba(0, 0, 0, 0.829);
    border-style: groove;
    height:fit-content;
    width: 1000px;
}

/* For testing purposes, won't show up in finished product.
    .container {
    height: 120px;
    width: auto;
    border-style: groove;
    margin: 20px;
    background: whitesmoke;
} */

/* JOB DESCRIPTION CSS STARTS HERE */
#body-3 {
    background-image: url(money-3.jpeg);
    background-size: 100%;
}

#job-container {
    background-color: rgba(0, 0, 0, 0.829); 
    border-style: groove;
    margin: inherit;
    padding-left: 20px;
    max-height: fit-content;
    max-width: 700px;
    float: left;
}

.job-headers {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

article p {
    max-height: fit-content;
    width: 670px;
    background-color: rgb(212, 192, 192);
    margin-right: 15px;
    padding: 5px;
}

#go-back {
    text-align: center;
}

#map {
    float: right;
    background-color: rgba(0, 0, 0, 0.829);
    border-style: groove;
    width: 650px;
    height: 450px;
    margin: inherit;
}


/* #map {
    height: 300px;
    width: 100%;
    margin-top: 70px;
  } */
