/* LANDING PAGE CSS STARTS HERE */
body {
    background-image: url(money.jpeg);
    background-size: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.829);
    height: 75px;
    border-style: groove;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    height: 350px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    align-content: center;
    border-style: groove;
 }
 
#homepage-header {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

section p {
     text-align: center;
 }

#location-input {
    width: 50%;
    margin-top: -10px;
}

#Industry {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

#level {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    margin-bottom: 16px;
}

#search-button {
    background-color: rgb(0, 132, 255);
    color: white;
    width: 50%;
    height: 40px;
    margin-top: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
}

/* RESULTS PAGE CSS STARTS HERE */
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#results {
    background-color: rgba(0, 0, 0, 0.829);
    border-style: groove;
    height:fit-content;
    width: 1000px;
}

/* For testing purposes, won't show up in finished product.
    .container {
    height: 120px;
    width: auto;
    border-style: groove;
    margin: 20px;
    background: whitesmoke;
} */

/* JOB DESCRIPTION CSS STARTS HERE */

/* #body-3 {
    background-image: url(money.jpeg);
    background-size: 100%;
} */

#job-container {
    background-color: rgba(0, 0, 0, 0.829); 
    border-style: groove;
    margin-top: 20px;
    padding-left: 20px;
    max-height: fit-content;
    max-width: 650px;
    position: relative;
    left: 25%;
}

.job-headers {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

#job-title-input, #location-input-2, #job-title-input-2 {
    width: 50%;
    margin-top: -10px;
}

article p, #go-back {
    max-height: fit-content;
    max-width: 600px;
    background-color: rgb(212, 192, 192);
    border-style: groove;
    margin: 10px;
    padding: 5px;
}

#go-back {
    width: 600px;
    margin-bottom: 20px;
    text-align: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 22px;
    width: 50%;
    background-color: #f1f1f1;
}
  
.dropdown-content a {
    color: black;
    width: 345px;
    font-size: 14px;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: white}
#Industry {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}
#level, #States, #City-input {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    margin-bottom: 16px;
#map {
    background-color: rgba(0, 0, 0, 0.829);
    border-style: groove;
    width: 600px;
    height: 300px;
    margin: 15px;
}

/* #map {
    height: 300px;
    width: 100%;
    margin-top: 70px;
  } */
